.btn-title{
    color: white !important;
    font-size: 2rem;
    border-radius: 5px;
    border: solid 2px white;
}
.btn-title:hover{
    background-color: rgba(255,193,7,0.8);
    color: white !important;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}