<footer class="site-footer" role="contentinfo" style="padding-bottom: 1em; padding-top: 7em;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3">
          <h3 class="mb-4">About Incline Education</h3>
          <p class="mb-5">We are a team of university students from various faculties who have come together for the 
		  sole purpose of helping students achieve more out of their university experience and beyond. </p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <!--<li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>-->
            <li><a href="https://linkedin.com/company/inclineeducation/" class="p-2"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="https://www.instagram.com/incline_education/" class="p-2"><span class="fa fa-instagram"></span></a></li>
			      <li><a href="https://www.facebook.com/incline.education/" class="p-2"><span class="fa fa-facebook"></span></a></li>
          </ul>

        </div>

        
        <div class="col-md-5 mb-3 pl-md-5">
          <div class="mb-5">
            <h3 class="mb-4">Contact</h3>
            <ul class="list-unstyled footer-link quick-contact">
              <!--
			  <li class="d-block">
                <span class="d-block caption">Address:</span>
                <span class="caption-text">34 Street Name, City Name Here, United States</span>
              </li>
			  -->
			  <!--
              <li class="d-block">
                <span class="d-block caption">Telephone:</span><span class="caption-text">+1 242 4942 290</span>
              </li>
			  -->
              <li class="d-block">
                <span class="d-block caption">Email: <a href="mailto:contact@inclineedu.org">contact@inclineedu.org</a></span>
              </li>
              <li class="d-block">
                <span class="d-block caption">Facebook: <a href="https://www.facebook.com/incline.education/">@incline.education</a></span>
              </li>
              <li class="d-block">
                <span class="d-block caption">Instagram: <a href="https://www.instagram.com/incline_education/">@incline.education</a></span>
              </li>
              <li class="d-block">
                <span class="d-block caption">LinkedIn: <a href="https://www.linkedin.com/company/inclineeducation/">Incline Education </a></span>
              </li>
              
            </ul>
          </div>

          
        </div>
        <div class="col-md-3 mb-3">
          <h3 class="mb-4">Quick Links</h3>
          <ul class="list-unstyled footer-link">
            <li><a href="/about">About</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/terms">Terms of Use</a></li>
			      <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-12">
          <div class="col-12 text-md-center">
            <p class="small" style="margin-bottom: 0; line-height: 125%;">Copyright <span style="font-size: 150%;">©</span> Incline Education 2020</p>
        </div>
      </div>
    </div>
    </div>
  </footer>