<header role="banner">
    <nav class="navbar navbar-expand-lg  bg-dark">
      <div class="container-fluid">
        <!--lol
        <style>
          .navbar-brand:hover{
            filter: invert(23%) sepia(44%) saturate(2276%) hue-rotate(354deg) brightness(105%) contrast(101%);
          }
        -->
        </style>
        <a class="navbar-brand " href="/"><img src="/images/brand_space/IE_W.png" style="height:2rem; padding-right: 1rem;">Incline Education</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav pl-md-5 ml-auto" id="inclineNavbar">
            <li class="nav-item">
              <a class="nav-link" navpage="home" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" navpage="about" href="/about">About</a>
            </li>

            <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" navpage="services" id="dropdown04" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">Services</div>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/panels">Panels</a>
                <a class="dropdown-item" href="/mentorship">Mentorship</a>
                <!--<a class="dropdown-item" href="#">Advisors</a>-->
                <a class="dropdown-item" href="/blog/landing">Blog</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" navpage="team" id="dropdown04" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">Team</div>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/team#core">Incline Education</a>
                <a class="dropdown-item" href="/team#advisors">Advisors</a>
                <a class="dropdown-item" href="/careers">Join Us</a>
              </div>
            </li>
            
            <!--
            <li class="nav-item">
              <a class="nav-link" navpage="press" href="/press">Press</a>
            </li>
          -->

            <li ckass="nav-item">
              <a class="nav-link" navpage="contact" href="/contact">Contact</a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="portfolio">Projects</a>
            </li> -->
          
          </ul>

		  <!-- search bar - implement with google?
          <div class="navbar-nav ml-auto">
            <form method="post" class="search-form">
              <span class="icon ion ion-search"></span>
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
		  -->

        </div>
      </div>
    </nav>
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '311714556852467'); 
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" 
      src="https://www.facebook.com/tr?id=311714556852467&ev=PageView
      &noscript=1"/>
    </noscript>
  </header>
