<header role="banner">
    <nav class="navbar navbar-expand-lg  bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand " href="/index">Incline Education</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

   
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav pl-md-5 ml-auto" id="inclineNavbar">
            <li class="nav-item">
              <a class="nav-link" navpage="home" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" navpage="about" href="/about">About</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" navpage="services" id="dropdown04" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">Services</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/panels">Panels</a>
                <a class="dropdown-item" href="/mentorship">Mentorship</a>
                <!--<a class="dropdown-item" href="#">Advisors</a>-->
                <a class="dropdown-item" href="/blog/landing">Blog</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" navpage="team" href="/team" id="dropdown04" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">Team</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/team#core">Incline Education</a>
                <a class="dropdown-item" href="/team#advisors">Advisors</a>
              </div>
            </li>

            <li ckass="nav-item">
              <a class="nav-link" navpage="contact" href="/contact">Contact</a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="portfolio">Projects</a>
            </li> -->
          
          </ul>

		  <!-- search bar - implement with google?
          <div class="navbar-nav ml-auto">
            <form method="post" class="search-form">
              <span class="icon ion ion-search"></span>
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
		  -->

        </div>
      </div>
    </nav>
  </header>
