<div class="section bg-light block-11">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 section-title">Testimonials</h2>
        </div>
      </div>
      <div class="nonloop-block-11 owl-carousel">
          
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3">
              <div class="image align-self-center"><img src="/images/Tiffany.jpg" alt="Person here"></div>
              <div class="name-text align-self-center">
                <h2 class="heading">Tiffany Anderson</h2>
                <span class="meta">Templeton Secondary Teacher</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&rdquo; Chris and his colleagues were professional, fun, and very informative. My students thoroughly enjoyed their visit! &ldquo;</p>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3">
              <div class="image align-self-center"><img src="/images/Daniel_Wang.jpg" alt="Person here"></div>
              <div class="name-text align-self-center">
                <h2 class="heading">Daniel Wang</h2>
                <span class="meta">Incline Education Mentee</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&rdquo; Prospective university freshmen like me often have too many questions and are usually confused about the process of 
                    transitioning from high school to university life. IE Mentorship was able to tailor to my needs and quickly match a requested mentor 
                    that has similar interests, backgrounds, and career interests as me. As a completely free service made by students for students, 
                    IE Mentorship is a valuable platform to help you out and make friends that would benefit you long afterwards! &ldquo;</p>
              </blockquote>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>