<div class="section bg-light block-11">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 section-title">Testimonials</h2>
        </div>
      </div>
      <div class="nonloop-block-11 owl-carousel">
          
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3">
              <div class="image align-self-center"><img src="/images/Tiffany.jpg" alt="Person here"></div>
              <div class="name-text align-self-center">
                <h2 class="heading">Tiffany Anderson</h2>
                <span class="meta">Templeton Secondary Teacher</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&ldquo; Chris and his colleagues were professional, fun, and very informative. My students thoroughly enjoyed their visit! &rdquo;</p>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3">
              <div class="image align-self-center"><img src="/images/Daniel_Wang.jpg" alt="Person here"></div>
              <div class="name-text align-self-center">
                <h2 class="heading">Daniel Wang</h2>
                <span class="meta">Incline Education Mentee</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&ldquo; Prospective university freshmen like me often have too many questions and are usually confused about the process of 
                    transitioning from high school to university life. IE Mentorship was able to tailor to my needs and quickly match a requested mentor 
                    that has similar interests, backgrounds, and career interests as me. As a completely free service made by students for students, 
                    IE Mentorship is a valuable platform to help you out and make friends that would benefit you long afterwards! &rdquo;</p>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3">
              <div class="name-text align-self-center">
                <h2 class="heading">Arundhati Arun Thampi</h2>
                <span class="meta">Incline Education Accelerator Participant</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&ldquo; Incline Education’s accelerator program helped me to feel less intimidated by the recruitment process. The mentors were extremely 
                  friendly and helpful which at the end of the day helped me to feel more confident in myself and understand areas that I need to begin working 
                  on. It is a very valuable experience for students who are not sure about how to approach the recruitment process or do not have an idea about 
                  what they would like to do in the future. &rdquo;</p>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3">
              <div class="name-text align-self-center">
                <h2 class="heading">Selena Yang</h2>
                <span class="meta">Incline Education Accelerator Participant</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&ldquo; As a first year student who was unfamiliar with the process of finding internships, the Accelerator Program helped me gain an in-depth 
                  understanding of different elements ranging from resumes to networking, while also being able to tailor to my specific career interests. With 
                  personalized feedback and the team’s insights in the recruiting process, I found it very helpful as I could pinpoint areas that I could work on 
                  and learnt specific ways that I could improve. Both the team and the other cohort members were welcoming, supportive, and personable. Over the 
                  course of several weeks, I learnt a lot and really enjoyed getting to make new friends and connections! &rdquo;</p>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3">
              <div class="name-text align-self-center">
                <h2 class="heading">Ihor Parkhomenko</h2>
                <span class="meta">Incline Education Accelerator Participant</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&ldquo; This program helped me connect with incredibly talented students and learn from them about the internship application process. It was such
                a delight to talk with my mentors about practical tips for writing resumes and nailing interview questions, and I'm very much looking forward to
                applying those tips in my future applications. Thank you for this unique opportunity. &rdquo;</p>
              </blockquote>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>